## Deliverable 3. Create a Travel Itinerary Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,0,Bubaque,GW,76.50,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"
1,1,1,Vaini,TO,80.60,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,2,3,Anloga,GH,80.60,few clouds,5.7947,0.8973,Pin Drop Hotel
3,3,5,Rikitea,PF,78.57,few clouds,-23.1203,-134.9692,Pension Maro'i
4,4,6,Nuevitas,CU,73.40,few clouds,21.5453,-77.2644,Hotel Caonaba

In [6]:
# 2. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country code</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Description</dt><dd>{Current Description} °F</dd>
</dl>
"""
#  Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
# 3 . Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
# Add a heatmap of temperature for the vacation spots.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4 . Add a marker layer for each city to the map. 
# . Display the figure.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_df.head()

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,0,Bubaque,GW,76.50,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"
1,1,1,Vaini,TO,80.60,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,2,3,Anloga,GH,80.60,few clouds,5.7947,0.8973,Pin Drop Hotel
3,3,5,Rikitea,PF,78.57,few clouds,-23.1203,-134.9692,Pension Maro'i
4,4,6,Nuevitas,CU,73.40,few clouds,21.5453,-77.2644,Hotel Caonaba

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
# Lazaro Cardenas - Coahuayana - Ixtapa - Matamoros in Mexico
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Lazaro Cardenas")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Lazaro Cardenas")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Coahuayana")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Ixtapa")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Matamoros")]

In [42]:
start=vacation_start[{"Lat": [6], "Lng": [7]}].to_numpy()[0]
start

array([  17.9583, -102.2   ])

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[{"Lat": [6], "Lng": [7]}].to_numpy
end = vacation_end[{"Lat": [6], "Lng": [7]}].to_numpy
stop1 = vacation_stop1[{"Lat": [6], "Lng": [7]}].to_numpy
stop2 = vacation_stop2[{"Lat": [6], "Lng": [7]}].to_numpy
stop3 = vacation_stop3[{"Lat": [6], "Lng": [7]}].to_numpy
start

<bound method DataFrame.to_numpy of         Lat    Lng
23  17.9583 -102.2>

In [44]:
lazaro_cardenas = vacation_start[{"Lat": [6], "Lng": [7]}].to_numpy()[0]
Coahuayana = vacation_stop1[{"Lat": [6], "Lng": [7]}].to_numpy()[0]
Ixtapa = vacation_stop2[{"Lat": [6], "Lng": [7]}].to_numpy()[0]
Matamoros = vacation_stop3[{"Lat": [6], "Lng": [7]}].to_numpy()[0]
end = vacation_end[{"Lat": [6], "Lng": [7]}].to_numpy()[0]

In [46]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
travel_directions = gmaps.directions_layer(lazaro_cardenas, end, waypoints=[Coahuayana, Ixtapa, Matamoros],
        travel_mode='DRIVING')

In [47]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(travel_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,24,79,Lazaro Cardenas,MX,75.42,clear sky,17.9583,-102.2000,Hotel Quinta Antigua
1,122,351,Coahuayana,MX,70.09,broken clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
2,156,447,Ixtapa,MX,75.20,clear sky,20.7000,-105.2000,Hotel Plaza Providencia
3,218,624,Matamoros,MX,87.80,clear sky,25.5333,-103.2500,Quinta Belem
4,24,79,Lazaro Cardenas,MX,75.42,clear sky,17.9583,-102.2000,Hotel Quinta Antigua

In [65]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}, {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [66]:
# Add a marker for each city & display it
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
directions_layer = gmaps.directions_layer(lazaro_cardenas, end, waypoints=[Coahuayana, Ixtapa, Matamoros],
        travel_mode='DRIVING')

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))